<div
	class="flex align-items-center tool-container-button"
	[ngStyle]="{ 'flex-direction': getDirection(widget.config.position) }"
>
	<div>
		<p-button
			id="tool-container-button-{{ widget.key }}"
			[icon]="widget.config.icon"
			(onClick)="onClick()"
			[ngClass]="{
                active: this.mapActiveWidget()?.key === widget.key && widget.config.active
       	 	}"
			[pTooltip]="widget.nombre"
			[attr.aria-label]="widget.nombre"
			[styleClass]="
				widget.key === 'overviewMap'
				? 'p-button-rounded p-button-white p-button-m text-xl'
				: 'p-button-rounded p-button-white p-button-s'
			" 
		></p-button>
	</div>
	<div
		*ngIf="this.mapActiveWidget() && (this.mapActiveWidget()?.key === widget.key || this.mapActiveWidget()?.key === 'measurements' || this.mapActiveWidget()?.key === 'bookmarks')"
		class="flex flex-wrap-reverse align-self-center"
		[ngStyle]="{ 'flex-direction': getDirection(widget.config.position) }"
	>
		<ng-container *ngFor="let tool of widget.config.tools">
			<ng-container [ngSwitch]="tool.config.type">
				<app-widget-tool-container
					*ngSwitchCase="'toolContainer'"
					[toolContainer]="widget.key"
					[widget]="tool"
				></app-widget-tool-container>
				<app-widget-dialog
					*ngSwitchCase="'dialogWidget'"
					[toolContainer]="widget.key"
					[widget]="tool"
				></app-widget-dialog>
				<app-widget-dialog-floating
					*ngSwitchCase="'floatingDialogWidget'"
					[toolContainer]="widget.key"
					[widget]="tool"
				></app-widget-dialog-floating>
				<app-widget-dialog-fixed
					*ngSwitchCase="'fixedDialogWidget'"
					[toolContainer]="widget.key"
					[widget]="tool"
				></app-widget-dialog-fixed>
				<app-widget-button
					*ngSwitchCase="'buttonWidget'"
					[toolContainer]="widget.key"
					[widget]="tool"
				></app-widget-button>
			</ng-container>
		</ng-container>
	</div>
</div>
