@import "../../../../../theme//theme";

.notification-bar {
    width: 100%;
    height: 2em;
    display: flex;
    flex-direction: row;
    background-color: $lightblue;

    &__messages {
        width: 66%;
    }

    &__mapinfo {
        width: 33%;

        display: flex;
        flex-direction: row;


        font-family: monospace;
        text-align: center;
        position: static;

        border-left: 1px solid $mediumblue;

        &-scale {
            width: 66%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        &-coords {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            background-color: $lightblue;
        }
    }
}
