<p-accordion expandIcon="pi pi-caret-right" collapseIcon="pi pi-caret-down" [formGroup]="form">
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center p-accordion-header">
                <p-checkbox formControlName="accordionState" [binary]="true"></p-checkbox>
                <i class="pi pi-calendar mr-2"></i>
                <span class="vertical-align-middle">{{accordionTitle}}</span>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <ng-container *ngFor="let tab of accordionTabs">
                <div class="p-accordion-content">
                    <div class="flex align-items-center p-accordion-content">
                        <p-checkbox [formControlName]="tab.formControlName" [binary]="true"></p-checkbox>
                        <i class="pi pi-calendar mr-2"></i>
                        <span class="vertical-align-middle">{{tab.formControlName}}</span>
                    </div>
                </div>
            </ng-container>
        </ng-template>
    </p-accordionTab>
</p-accordion>